Package: me.samuelyeung.alwaystouchid
Name: AlwaysTouchID
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samuel Yeung
Author: Samuel Yeung
Section: Tweaks
Version: 0.0.1-47
Installed-Size: 88
