Package: me.samuelyeung.alwaystouchid
Name: AlwaysTouchID
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samuel Yeung
Author: Samuel Yeung
Section: Tweaks
